@{
    Page.Title = "Listing";
    Layout = "_SubPageMaster.cshtml";
}

<ul class="listing">
    <li>
        <a href="#">
            list item 1
        </a>
    </li>
    <li>
        <a href="#">
            list item 2
        </a>
    </li>
    <li>
        <a href="#">
            list item 3
        </a>
    </li>
</ul>