<nav class="row breadcrumb">
    <ul class="grid_12">
        <li>
            <a href="home.cshtml" title="Home">Home</a>
            <span class="divider">|</span>
        </li>
        <li>@Page.Title</li>
    </ul>
</nav>        

