<footer>
    <div class="row">
        <div class="grid_12">
           <nav class="footer_links float_right">
                <ul>
                    <li><a href="#">Accessibility</a></li>
                    <li class="divider">|</li>
                    <li><a href="#">Cookies</a></li>
                    <li class="divider">|</li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li class="divider">|</li>
                    <li><a href="#">Terms &amp; Conditions</a></li>
                </ul>
            </nav>
            <div class="copyright_notice">
                &copy; Copyright 2014 | Web design by <a href="http://www.prodo.com" target="_blank">Prodo Digital</a>
            </div>

        </div>
    </div>
</footer>