
<header>
       <div class="row">
           <div class="grid_4" itemtype="http://schema.org/Organization" itemscope>
               <a href="/" class="logo">
                   <img src="/images/retina/logo.png" width="300" height="100" class="responsive_img" alt="LogoName" itemprop="logo" />
               </a>

           </div>

          
           <div class="grid_8">
              <div class="search_form float_right">
                   <form>
                       <input type="text" placeholder="Search our site..." />
                       <input type="submit" class="submit" value="submit" />
                   </form>
               </div>
           </div>

           <div class="grid_12 mobile_only">
               <a href="#" id="toggle_main_nav">
                   Menu
               </a>
           </div>


       </div>
</header>


<div class="row">
    <div class="grid_12">
        <nav class="main_nav">
            <ul>
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
                <li><a href="#">Link 3</a></li>
                <li><a href="#">Link 4</a></li>
                <li><a href="#">Link 5</a></li>
                <li><a href="#">Link 6</a></li>
            </ul>
        </nav>
    </div>
</div>



